.footer{
    width: 100%;
    background-color: #022140;
    padding: 40px;
    bottom: 0;
}
.footer-big-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-small-box{
    color: white;
    margin: 0 auto;
    text-align: center;
}

.footer-small-box i{
    margin-right: 10px;
}

.footer-small-box p{
    margin: 0;
}

.footer-second-box{
    margin-top: 20px;
    color: white;
    text-align: center;
}

.footer-second-box p{
    margin: 0;
}

@media screen and (max-width: 470px){
    .footer-big-box{
        grid-template-columns: 1fr;
    }
    
}
