.blog-contain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    margin: 0 auto;
    gap:10px
}

@media screen and (max-width: 861px){
    .blog-contain{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 490px){
    .blog-contain{
        grid-template-columns: 1fr;
    }
}